<div class="container bg-container">
    <br>
    <br>
    <br>
    <div class="gabriels-header">
        <h4>
            <button class="btn btn-primary">
                < GO LEFT
            </button>
            &nbsp;&nbsp;&nbsp;<strong>LIST OF EVENTS</strong>&nbsp;&nbsp;&nbsp;
            <button class="btn btn-default">
                GO RIGHT >
            </button> 
        </h4>       
    </div>
    <br>
    <br>
    <br>
    <table *ngIf="events" class="table table-bordered">
        <thead>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>


